
.inter-riti {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}


.raleway-riti {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: rgba(78, 71, 255, 0.01);
}

/* navbar design */

.top {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    padding-top: 50px;

    max-width: 1440px;
    gap: auto;


}

.nav-logo {

    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}

.nav-btn {
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding:12px 36px 12px 36px;

}

/* banner design */
.banner {

    margin-top: 158px;
    padding-bottom: 152px;
    text-align: center;

}



.banner,h1{
    margin-bottom: 37px;
    font-size: 65px;
    font-weight: bold;
}


.header {
    max-width: 1440px;
    max-height: 698px;
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* main body design */
.action-div{
    display:flex;
    justify-content: space-between;
    /* margin-top: 98px; */
    gap:220px;
    align-items: center;
    margin-left: 141px;
    margin-right: 159px;
    padding-top: 62.5px;
    padding-bottom: 62.5px;
    width:1140px;
    height:328;
    margin-bottom: 120px;
}
.text{
    max-width:517px;
    max-height: 203px;
    
}
.text,p{
    /* width: 517px;
    height: 60px; */
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 500px;
    color:rgba(37,36,50,0.5);
}
.text,h3{
    /* width: 517px;
    height: 49px; */
    margin-bottom: 23px;
    color:#252432;
    font-size: 42px;
    font-weight: 700;
}
.text,button{
    /* width: 229px;
    height: 48px; */
    padding:12px 36px 12px 36px;
    font-size: 16px;
    font-weight: bold;
}

.action-div,img{
    border-radius:48px;
   
}


/* main part productive */
.users{
    display: flex;
    justify-content: space-evenly;
}
.productive{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin-left: 141px;
    margin-right: 159px;
}
.productive,p{
    font-size: 38px;
    font-weight: bold;
    color:#252432;

}
.num{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
}


/* card */
.card-pic{
    display: flex;
    /* justify-content:space-between; */
    gap:6px;
    text-align: left;
    /* align-items: center; */
    
    
}
.title{
    text-align: center;
}
.card{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}
.single-card{
    border-radius: 5px;
    padding: 24px 24px 24px 24px;
    text-align: left;
    background-color: #FFFFFF;
    
    font-size:20px;
}
.card-section{
    margin: 137px 151px 137px 159px;
    width:1140px;
    height: 342px;

}
.font-title{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.para-font{
    font-size: 16px;
    font-weight: 400px;
    color:rgba(30, 30, 30, 1);
}
.card-pic-txt{
    font-size: 16px;
    font-weight: 500px;
    color:rgba(117, 117, 117, 1);
    
}
span{
    font-size: 16px;
    font-weight: 400px;
    color:rgba(179, 179, 179, 1);
}
.photo-section{
    text-align: center;
    width:1140px;
    height: 696.7px;
    background-color: #FFFFFF;
    margin:137px 151px 0px 149px;
}
.photo-head{
    padding: 71px 312px 0px 312px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;

}
.photo-text{
    font-size: 16px;
    font-weight: 400px;
    color:rgba(0,0,0,0.5);
    margin-bottom: 20px;
}


